<div class="col-sm-12" *ngIf="data" #container>


  <h3>Decomposition</h3>

  <table class="text-center table table-bordered">
    <thead>
    <tr>
      <th colspan="2">STL general information</th>
    </tr>

    </thead>
    <tbody *ngIf="data?.decomposition.seasonal">
    <tr>
      <td>Window</td>
      <td>{{data?.decomposition.general.win?data?.decomposition.general.win[0]:""}}</td>
    </tr>
    <tr>
      <td>Degree of Fit</td>
      <td>{{data?.decomposition.general["stl.degree"][0]}}</td>
    </tr>


    </tbody>

    <tbody *ngIf="data?.decomposition.seasonal==false">
    <tr>
      <td>Degree of Fit</td>
      <td>{{data?.decomposition.general["stl.degree"][0]}}</td>
    </tr>
    <tr>
      <td>Effective Degrees of Freedom</td>
      <td>{{data?.decomposition.general["degfr"][0]}}</td>
    </tr>
    <tr>
      <td>Fitted Degrees of Freedom</td>
      <td>{{data?.decomposition.general["degfr.fitted"][0]}}</td>
    </tr>

    </tbody>
  </table>


  <div class="col-sm-6"><h4 class="text-center">Trends</h4>
    <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Trend component'"
                          [values]="data?.decomposition.trends"></analytics-line-chart>
  </div>

  <div class="col-sm-6"><h4 class="text-center">Remainders</h4>
    <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Remainder Component'"
                          [values]="data?.decomposition.remainders"></analytics-line-chart>
  </div>

  <div class="col-sm-12"><h4 class="text-center">Fitted - Residuals</h4>
    <analytics-scatter-plot [x_accessor]="'year'" [y_accessor]="'amount'" class="col-sm-12" style="min-height: 500px;" [label_x]="'Fitted Values'" [label_y]="'Residual Values'"
                            [values]="data?.decomposition.fitted_residuals"></analytics-scatter-plot>
  </div>


<!--
  <div class="col-sm-4"><h4 class="text-center">Time - Residuals</h4>
    <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Residual Values'"
                          [values]="data?.decomposition.time_residuals"></analytics-line-chart>
  </div>

  <div class="col-sm-4"><h4 class="text-center">Time - Fitted</h4>
    <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Fitted Values'"
                          [values]="data?.decomposition.time_fitted"></analytics-line-chart>
  </div>
-->


  <table class="text-center table table-bordered">
    <thead>
    <tr>
      <th colspan="2">Compare</th>
    </tr>

    </thead>
    <tbody *ngIf="data?.decomposition.seasonal">
    <tr>
      <td>ARIMA Orders</td>
      <td>{{data?.decomposition.compare["arima.order"][0]}}</td>
    </tr>
    <tr>
      <td>ARIMA Coefficients</td>
      <td>{{data?.decomposition.compare["arima.coef"][0]}}</td>
    </tr>
    <tr>
      <td>Coefficients Standard Error</td>
      <td>{{data?.decomposition.compare["arima.coef.se"][0]}}</td>
    </tr>
    <tr>
      <td>Estimated Coefficients Variance</td>
      <td>{{data?.decomposition.compare["covariance.coef"][0]}}</td>
    </tr>
    <tr>
      <td>Residuals Variance</td>
      <td>{{data?.decomposition.compare["resid.variance"][0]}}</td>
    </tr>
    <tr>
      <td>Not used Observations</td>
      <td>{{data?.decomposition.compare["not.used.obs"].join(",")}}</td>
    </tr>
    <tr>
      <td>Used Observations</td>
      <td>{{data?.decomposition.compare["used.obs"].join(",")}}</td>
    </tr>
    <tr>
      <td>Log-Likelihood</td>
      <td>{{data?.decomposition.compare["loglik"][0]}}</td>
    </tr>
    <tr>
      <td>Akaike information criterion</td>
      <td>{{data?.decomposition.compare["aic"][0]}}</td>
    </tr>

    <tr>
      <td>Bayesian information criterion</td>
      <td>{{data?.decomposition.compare["bic"][0]}}</td>
    </tr>
    <tr>
      <td>Corrected Akaike information criterion</td>
      <td>{{data?.decomposition.compare["aicc"][0]}}</td>
    </tr>


    </tbody>

    <tbody *ngIf="data?.decomposition.seasonal==false">
    <tr>
      <td>Residuals Variance</td>
      <td>{{data?.decomposition.compare["resid.variance"][0]}}</td>
    </tr>

    <tr>
      <td>Used Observations</td>
      <td>{{data?.decomposition.compare["used.obs"].join(",")}}</td>
    </tr>
    <tr>
      <td>Log-Likelihood</td>
      <td>{{data?.decomposition.compare["loglik"][0]}}</td>
    </tr>
    <tr>
      <td>Akaike information criterion</td>
      <td>{{data?.decomposition.compare["aic"][0]}}</td>
    </tr>

    <tr>
      <td>Bayesian information criterion</td>
      <td>{{data?.decomposition.compare["bic"][0]}}</td>
    </tr>
    <tr>
      <td>Generalized cross validation</td>
      <td>{{data?.decomposition.compare["gcv"][0]}}</td>
    </tr>


    </tbody>
  </table>



  <hr class="col-sm-12"/>


  <div class="col-sm-12">
    <h3>Model Fitting</h3>


    <table class="text-center table table-bordered">
      <thead>
      <tr>
        <th colspan="2">Model</th>
      </tr>

      </thead>
      <tbody >
      <tr>
        <td>ARIMA Orders</td>
        <td>{{data?.fitting.model["arima.order"][0]}}</td>
      </tr>
      <tr>
        <td>ARIMA Coefficients</td>
        <td>{{data?.fitting.model["arima.coef"][0]}}</td>
      </tr>
      <tr>
        <td>Coefficients Standard Error</td>
        <td>{{data?.fitting.model["arima.coef.se"][0]}}</td>
      </tr>


      </tbody>


    </table>
    <div class="col-sm-12">
      <h3>Auto-correlation/Partial Auto-correlation</h3>

    </div>
    <div class="col-sm-6"><h4>ACF</h4>
      <md-card>
        <md-card-title-group align="center center" >

          <md-card-title>Viz</md-card-title>
          <button md-mini-fab [routerLink]="'/cube/analytics/' + cube.name+'/timeseries/embed/acf'">
            <md-icon  color="primary"  class="md-24">share</md-icon>
          </button>

        </md-card-title-group>
        <div class="row text-center">
          <analytics-acf-chart class="col-sm-12" style="min-height: 250px;" [label_x]="'Lags'" [label_y]="'Autocorrelation'"
                               [data]="data?.autocorrelation.acf.regular"></analytics-acf-chart>
        </div>

      </md-card>

    </div>
    <div class="col-sm-6"><h4>ACF residuals</h4>
      <analytics-acf-chart class="col-sm-12" style="min-height: 250px;" [label_x]="'Lags'" [label_y]="'Autocorrelation of residuals'"
                           [data]="data?.autocorrelation.acf.residuals"></analytics-acf-chart>
    </div>
    <div class="col-sm-6"><h4>PACF</h4>
      <analytics-acf-chart class="col-sm-12" style="min-height: 250px;" [label_y]="'Partial autocorrelation'" [label_x]="'Lags'"
                           [data]="data?.autocorrelation.pacf.regular"></analytics-acf-chart>
    </div>
    <div class="col-sm-6"><h4>PACF residuals</h4>
      <analytics-acf-chart class="col-sm-12" style="min-height: 250px;" [label_y]="'Partial autocorrelation of residuals'" [label_x]="'Lags'"
                           [data]="data?.autocorrelation.pacf.residuals"></analytics-acf-chart>
    </div>
    <hr class="col-sm-12"/>


    <div class="col-sm-4"><h4 class="text-center">Fitted - Residuals</h4>
      <analytics-scatter-plot class="col-sm-12" style="min-height: 500px;" [values]="data?.fitting.fitted_residuals" [label_x]="'Fitted Values'" [label_y]="'Residual Values'"
                              [x_accessor]="'year'" [y_accessor]="'amount'"></analytics-scatter-plot>
    </div>


    <div class="col-sm-4"><h4 class="text-center">Time - Residuals</h4>
      <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Residual Values'"
                            [values]="data?.fitting.time_residuals"></analytics-line-chart>
    </div>

    <div class="col-sm-4"><h4 class="text-center">Time - Fitted</h4>
      <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="'Fitted Values'"
                            [values]="data?.fitting.time_fitted"></analytics-line-chart>
    </div>




    <table class="text-center table table-bordered">
      <thead>
      <tr>
        <th colspan="2">Compare</th>
      </tr>

      </thead>
      <tbody >

      <tr>
        <td>Variance Coefficient</td>
        <td>{{data?.fitting.compare["variance.coef"][0]}}</td>
      </tr>
      <tr>
        <td>Residuals Variance</td>
        <td>{{data?.fitting.compare["resid.variance"][0]}}</td>
      </tr>
      <tr>
        <td>Not used Observations</td>
        <td>{{data?.fitting.compare["not.used.obs"].join(",")}}</td>
      </tr>
      <tr>
        <td>Used observations</td>
        <td>{{data?.fitting.compare["used.obs"].join(",")}}</td>
      </tr>
      <tr>
        <td>Log-Likelihood</td>
        <td>{{data?.fitting.compare["loglik"][0]}}</td>
      </tr>
      <tr>
        <td>Akaike information criterion</td>
        <td>{{data?.fitting.compare["aic"][0]}}</td>
      </tr>

      <tr>
        <td>Bayesian information criterion</td>
        <td>{{data?.fitting.compare["bic"][0]}}</td>
      </tr>
      <tr>
        <td>Corrected Akaike information criterion</td>
        <td>{{data?.fitting.compare["aicc"][0]}}</td>
      </tr>


      </tbody>


    </table>




  </div>
  <hr class="col-sm-12"/>




  <div class="col-sm-12">

    <h3>Forecasts from {{data?.forecast.model}}</h3>

    <div class="col-sm-12">
      <analytics-line-chart class="col-sm-12" style="min-height: 500px;" [label_x]="'Time (years)'" [label_y]="cube.model.aggregates.get(analysisCall.inputs['amount']).label"
                            [values]="data?.forecast.values"></analytics-line-chart>
    </div>

  </div>

</div>
