<div *ngIf="data&&analysisCall" #container>
  <div fxLayout="row">
    <md-card fxFlex="100%" class="output-card">
      <md-card-title-group align="center center">

        <md-card-title>Outliers</md-card-title>
      </md-card-title-group>
      <div class="text-center">
        <div class="text-center">

         <!-- <analytics-scatter-plot [x_accessor]="'Item'" [y_accessor]="'Score'"
                                  style="min-height: 500px;" [label_x]="'Item'" [label_y]="'Score'"
                                  [values]="data?.values"></analytics-scatter-plot>-->

        </div>
        <analytics-outlier-plot [values]="data?.values" [color]="analysisCall.inputs['coloringAttribute'][0]" [group]="analysisCall.inputs['groupingAttribute'][0]"></analytics-outlier-plot>

        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Item</th>
            <th>Score</th>
            <th>Target</th>
            <th>Values</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let item of data.values">
            <td>{{item.Item}}</td>
            <td>{{item.Score}}</td>
            <td>{{item.Target}}</td>
            <td>
              <md-chip-list style="max-height: 200px" >
                <ng-container *ngFor="let dimension of cube.model.dimensions|iterable" >
                  <ng-container *ngFor="let attribute of dimension.significants|iterable" >
                    <md-chip [mdTooltip]="dimension.label + ' → ' +  attribute.label"   *ngIf="item[(dimension.ref+'_' + attribute.shortRef).toLowerCase()]!=undefined"  >

                      <a class="action-anchor">{{item[(dimension.ref+'_' + attribute.shortRef).toLowerCase()]}}</a>
                    </md-chip>
                    <md-chip [mdTooltip]="dimension.label + ' → ' +  attribute.label"   *ngIf="item[attribute.ref]!=undefined"  >

                      <a class="action-anchor">{{item[attribute.ref]}}</a>
                    </md-chip>
                  </ng-container>

                </ng-container>
                <ng-container *ngFor="let measure of cube.model.measures|iterable" >
                    <md-chip [mdTooltip]="measure.label"    *ngIf="item[(measure.ref).toLowerCase()]!=undefined"  >

                      <a class="action-anchor">{{measure.currency}} {{item[(measure.ref).toLowerCase()]}}</a>
                    </md-chip>
                </ng-container>

              </md-chip-list>

             </td>
          </tr>


          </tbody>
        </table>


      </div>

    </md-card>

  </div>


</div>
