<md-card style="width:100%">
  <md-card-content *ngIf="algorithm">
    <p>
      <md-toolbar color="primary">

        <span> {{ (cube$|async).pckg.title }}: {{ executionConfiguration.title }}</span>

        <span class="indigo-spacer"></span>
        <button md-tooltip="Back" md-icon-button [routerLink]="['/cube/analytics/'+analysisCall.cube.name+'/']">
          <md-icon >arrow_back</md-icon>
        </button>


        <button md-tooltip="Execute" md-icon-button [routerLink]="['/cube/analytics/'+analysisCall.cube.name+'/'+ algorithm.name+'/'+ executionConfiguration.name]"
                [queryParams]="analysisCall.queryParams()">
          <md-icon>play_circle_outline
          </md-icon>
        </button>


      </md-toolbar>
    </p>


    <div fxLayout="row">
      <div fxFlex="30%">
        <div fxLayout="column">


          <md-card class="input-card">
            {{executionConfiguration.prompt}}
          </md-card>
          <ng-container *ngFor="let input of executionConfiguration.inputs|iterable">

            <md-card *ngIf="!input.guess" class="input-card">
              <md-card-header class="">

                <md-card-title>
                  <md-button-toggle md-icon-button
                                    *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI"
                                    (change)="toggleAggregate()" [checked]="aggregateShown">
                    <md-icon>visibility</md-icon>

                  </md-button-toggle>
                  <md-button-toggle md-icon-button
                                    *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI"
                                    (change)="toggleFacts()" [checked]="factsShown">

                    <md-icon>visibility</md-icon>
                  </md-button-toggle>
                  {{input.title}}
                </md-card-title>
                <span class="example-spacer"></span>


                <button
                  *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI"
                  (click)="openAggregateDialog(input)" md-tooltip="View data" md-icon-button>
                  <md-icon>directions run</md-icon>
                </button>

                <button md-icon-button md-tooltip="{{input.description}}">
                  <md-icon>info</md-icon>
                </button>


                <button *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI"
                        (click)="openFactsDialog(input)" md-tooltip="View data" md-icon-button>

                  <md-icon>directions run</md-icon>
                </button>

              </md-card-header>

              <md-card-content>
                <div
                  *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI">

                  <md-chip-list *ngIf="analysisCall?.inputs[input.name]&&!aggregateShown">
                    <md-chip md-tooltip="Aggregate"  *ngFor="let aggregate of analysisCall?.inputs[input.name].aggregates|iterable">{{aggregate.column.label}}</md-chip>
                    <md-chip md-tooltip="Drilldown"  color="accent" selected="true" *ngFor="let drilldown of analysisCall?.inputs[input.name].drilldowns|iterable">
                      {{drilldown.column.dimension.label}}.{{drilldown.column.label}}</md-chip>
                    <md-chip md-tooltip="Filter"  color="primary" selected="true" *ngFor="let cut of analysisCall?.inputs[input.name].cuts|iterable">{{cut.column.dimension.label}}.{{cut.column.label}}: {{cut.value}}</md-chip>
                    <md-chip md-tooltip="Page number"  color="primary" selected="true">Page number: {{analysisCall?.inputs[input.name].page}}</md-chip>
                    <md-chip md-tooltip="Page size"  color="primary" selected="true">Page size: {{analysisCall?.inputs[input.name].pageSize}}</md-chip>



                  </md-chip-list>


                  <aggregate-request-builder *ngIf="analysisCall?.inputs[input.name]&&aggregateShown"
                                             [cube]="cube$|async"
                                             [(request)]="analysisCall?.inputs[input.name]"></aggregate-request-builder>
                </div>
                <div *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI">



                  <md-chip-list *ngIf="analysisCall?.inputs[input.name]&&!factsShown">

                    <md-chip md-tooltip="Filter"  color="primary" selected="true" *ngFor="let cut of analysisCall?.inputs[input.name].cuts|iterable">{{cut.column.dimension.label}}.{{cut.column.label}}: {{cut.value}}</md-chip>
                    <md-chip md-tooltip="Page number"  color="primary" selected="true">Page number: {{analysisCall?.inputs[input.name].page}}</md-chip>
                    <md-chip md-tooltip="Page size"  color="primary" selected="true">Page size: {{analysisCall?.inputs[input.name].pageSize}}</md-chip>



                  </md-chip-list>



                  <fact-request-builder *ngIf="analysisCall?.inputs[input.name]&&factsShown" [cube]="cube$|async"
                                        [(request)]="analysisCall?.inputs[input.name]"></fact-request-builder>
                </div>


                <md-input-container *ngIf="input.type==InputTypes.PARAMETER" class="example-full-width">
                  <input mdInput placeholder="{{input.title}}" type="{{input.data_type}}"
                         value="{{input.default_value}}" [(ngModel)]="analysisCall?.inputs[input.name]">
                </md-input-container>


                <div *ngIf="input.type==InputTypes.MEASURE_REF">
                  <div>
                    <div class="form-group">
                      <select
                        (change)="setSelected($event.target, input.name, cube.model.measures)"
                        multiple class="form-control"
                        [(ngModel)]="analysisCall?.inputs[input.name]">
                        <option [ngValue]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                *ngFor="let item of cube?.model?.measures|iterable">{{item |
                          nestedProperty:'label'}}
                        </option>
                      </select>
                    </div>

                  </div>

                </div>


                <div *ngIf="input.type==InputTypes.AGGREGATE_REF">
                  <div>
                    <div class="form-group">

                      <select *ngIf="input.cardinality=='1'" class="form-control "
                              [(ngModel)]="analysisCall?.inputs[input.name]">

                        <option *ngFor="let item of cube?.model?.aggregates|iterable" [ngValue]="item">{{item |
                          nestedProperty:'label'}}
                        </option>

                      </select>

                      <select *ngIf="input.cardinality=='n'"
                              (change)="setSelected($event.target, input.name, cube.model.aggregates)"
                              multiple class="form-control"
                              [(ngModel)]="analysisCall?.inputs[input.name]">
                        <option [ngValue]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                *ngFor="let item of cube?.model?.aggregates|iterable">{{item |
                          nestedProperty:'label'}}
                        </option>
                      </select>
                    </div>

                  </div>

                </div>


                <div *ngIf="input.type==InputTypes.ATTRIBUTE_REF">
                  <div>
                    <div>
                      <select *ngIf="input.cardinality=='1'" class="form-control"
                              [(ngModel)]="analysisCall?.inputs[input.name]">
                        <optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}">
                          <option [ngValue]="item" *ngFor="let item of dim?.attributes|iterable">{{item |
                            nestedProperty:'label'}}
                          </option>
                        </optgroup>
                      </select>

                      <select *ngIf="input.cardinality=='n'"
                              (change)="setSelected($event.target, input.name, cube.model.attributes)"
                              multiple class="form-control "
                              [(ngModel)]="analysisCall?.inputs[input.name]">

                        <optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}">
                          <option [ngValue]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                  *ngFor="let item of dim?.attributes|iterable">{{item |
                            nestedProperty:'label'}}
                          </option>
                        </optgroup>


                      </select>
                    </div>

                  </div>

                </div>
              </md-card-content>


            </md-card>
          </ng-container>

        </div>
      </div>
      <div fxFlex="70%" class="content-card">
        <div >

          <md-spinner *ngIf="loading$|async"></md-spinner>

          <analytics-timeseries-output *ngIf="algorithm.name=='time_series'"
                                       style="min-height: 500px;" [cube]="cube"
                                       [analysisCall]="analysisCall"
                                       [data]="analysisCall?.outputs['values']">
          </analytics-timeseries-output>
          <analytics-descriptive-output *ngIf="algorithm.name=='descriptive_statistics'"
                                        [data]="analysisCall?.outputs['values']" [cube]="cube"
                                        [analysisCall]="analysisCall"></analytics-descriptive-output>
        </div>
      </div>

    </div>


  </md-card-content>


</md-card>
