<md-card style="width:100%; box-shadow: none">
  <md-card-content *ngIf="algorithm">
    <md-toolbar>

      <span> {{ (cube$|async).pckg.title }}: {{ executionConfiguration.title }}</span>

      <span class="indigo-spacer"></span>
      <button md-tooltip="Select another algorithm" md-icon-button
              [routerLink]="['/cube/analytics/' + analysisCall.cube.name + '/']">
        <md-icon>arrow_back</md-icon>
      </button>


      <button id="executeAlgorithmButton" md-tooltip="Execute" [disabled]="analysisCall && !analysisCall.valid" md-icon-button
              [routerLink]="['/cube/analytics/' + analysisCall.cube.name + '/' + algorithm.name+'/' + executionConfiguration.name]"
              [queryParams]="analysisCall.queryParams()">
        <md-icon>play_circle_outline
        </md-icon>
      </button>


    </md-toolbar>


    <div fxLayout="row">
      <div fxFlex="30%">
        <div fxLayout="column">


          <md-card class="input-card">
            {{executionConfiguration.prompt}}
          </md-card>
          <ng-container *ngFor="let input of executionConfiguration.inputs|inputIterable">

            <md-card *ngIf="!input.guess" class="input-card">
              <md-card-header>

                <md-card-title>
                  <md-button-toggle md-icon-button
                                    *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI"
                                    (change)="toggleAggregate()" [checked]="aggregateShown">
                    <md-icon>visibility</md-icon>

                  </md-button-toggle>
                  <md-button-toggle md-icon-button
                                    *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI"
                                    (change)="toggleFacts()" [checked]="factsShown">

                    <md-icon>visibility</md-icon>
                  </md-button-toggle>
                  {{input.title}} <span *ngIf="input.required" class="required-asterisk">∗</span>
                </md-card-title>
                <span class="example-spacer"></span>


                <button
                  *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI"
                  (click)="openAggregateDialog(input)" md-tooltip="View data" md-icon-button>
                  <md-icon>directions run</md-icon>
                </button>

                <button *ngIf="input.description" md-icon-button md-tooltip="{{input.description}}">
                  <md-icon>info</md-icon>
                </button>


                <button *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI"
                        (click)="openFactsDialog(input)" md-tooltip="View data" md-icon-button>

                  <md-icon>directions run</md-icon>
                </button>

              </md-card-header>

              <md-card-content>
                <div
                  *ngIf="input.type==InputTypes.BABBAGE_AGGREGATE_RAW_DATA || input.type==InputTypes.BABBAGE_AGGREGATE_URI">
                  <md-chip-list *ngIf="analysisCall?.inputs[input.name]&&!aggregateShown">
                    <md-chip md-tooltip="Aggregate"
                             *ngFor="let aggregate of analysisCall?.inputs[input.name].aggregates|iterable">
                      {{aggregate.column.label}}
                    </md-chip>
                    <md-chip md-tooltip="Drilldown" color="accent" selected="true"
                             *ngFor="let drilldown of analysisCall?.inputs[input.name].drilldowns|iterable">
                      {{drilldown.column.dimension.label}}.{{drilldown.column.label}}
                    </md-chip>
                    <md-chip md-tooltip="Filter" color="primary" selected="true"
                             *ngFor="let cut of analysisCall?.inputs[input.name].cuts|iterable">
                      {{cut.column.dimension.label}}.{{cut.column.label}}: {{cut.value}}
                    </md-chip>
                    <md-chip md-tooltip="Page number" color="primary" selected="true">Page number:
                      {{analysisCall?.inputs[input.name].page}}
                    </md-chip>
                    <md-chip md-tooltip="Page size" color="primary" selected="true">Page size:
                      {{analysisCall?.inputs[input.name].pageSize}}
                    </md-chip>
                  </md-chip-list>

                  <aggregate-request-builder *ngIf="analysisCall?.inputs[input.name]&&aggregateShown"
                                             [cube]="cube"
                                             [(request)]="analysisCall?.inputs[input.name]"></aggregate-request-builder>
                </div>
                <div *ngIf="input.type==InputTypes.BABBAGE_FACT_RAW_DATA || input.type==InputTypes.BABBAGE_FACT_URI">
                  <md-chip-list *ngIf="analysisCall?.inputs[input.name]&&!factsShown">
                    <md-chip md-tooltip="Filter" color="primary" selected="true"
                             *ngFor="let cut of analysisCall?.inputs[input.name].cuts|iterable">
                      {{cut.column.dimension.label}}.{{cut.column.label}}: {{cut.value}}
                    </md-chip>
                    <md-chip md-tooltip="Page number" color="primary" selected="true">Page number:
                      {{analysisCall?.inputs[input.name].page}}
                    </md-chip>
                    <md-chip md-tooltip="Page size" color="primary" selected="true">Page size:
                      {{analysisCall?.inputs[input.name].pageSize}}
                    </md-chip>
                  </md-chip-list>


                  <fact-request-builder *ngIf="analysisCall?.inputs[input.name]&&factsShown" [cube]="cube"
                                        [(request)]="analysisCall?.inputs[input.name]"></fact-request-builder>
                </div>

                <ng-container *ngIf="input.type==InputTypes.PARAMETER">
                  <md-input-container *ngIf="!input.options" class="example-full-width">

                    <input mdInput placeholder="Parameter" type="{{input.data_type}}"
                           value="{{input.default_value}}" [(ngModel)]="analysisCall?.inputs[input.name]">


                  </md-input-container>

                  <md-select *ngIf="input.options" placeholder="Parameter from list"
                             [(ngModel)]="analysisCall?.inputs[input.name]">
                    <md-option *ngFor="let option of input.options|iterablepairs" [value]="option.key">
                      {{option.value}}
                    </md-option>
                  </md-select>
                </ng-container>


                <div *ngIf="input.type==InputTypes.MEASURE_REF">
                  <div>

                    <div class="mat-caption" *ngIf="input.bound">
                      This analysis input is bound to the <i>{{executionConfiguration.inputs.get(input.bound).title}}</i> input.
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_AGGREGATE_URI && analysisCall?.inputs[input.bound].actual_measures.length <1">
                        You have to configure this input with one or more drill-down attributes, that will appear here afterwards.
                      </ng-container>
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_FACT_URI && analysisCall?.inputs[input.bound].actual_measures.length <1">
                        You have to configure this input with one or more fields, that will appear here afterwards.
                      </ng-container>
                    </div>

                    <ng-container *ngIf="!input.bound || (input.bound && analysisCall?.inputs[input.bound].actual_measures.length > 0)">

                      <md-select placeholder="Measure" [multiple]="input.cardinality==='n'"
                                 [(ngModel)]="analysisCall?.inputs[input.name]">

                        <ng-container *ngIf="!input.bound">
                          <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                     *ngFor="let item of cube?.model?.measures|iterable">{{item |
                            nestedProperty:'label'}}
                          </md-option>
                        </ng-container>
                        <ng-container *ngIf="input.bound">

                          <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                     *ngFor="let item of analysisCall?.inputs[input.bound].actual_measures">{{item |
                            nestedProperty:'label'}}
                          </md-option>
                        </ng-container>
                      </md-select>
                    </ng-container>


                  </div>

                </div>


                <div *ngIf="input.type==InputTypes.AGGREGATE_REF">
                  <div>

                    <div class="mat-caption" *ngIf="input.bound">
                      This analysis input is bound to the <i>{{executionConfiguration.inputs.get(input.bound).title}}</i> input.
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_AGGREGATE_URI && analysisCall?.inputs[input.bound].actual_aggregates.length <1">
                        You have to configure this input with one or more drill-down attributes, that will appear here afterwards.
                      </ng-container>
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_FACT_URI && analysisCall?.inputs[input.bound].actual_aggregates.length <1">
                        You have to configure this input with one or more fields, that will appear here afterwards.
                      </ng-container>
                    </div>

                    <ng-container *ngIf="!input.bound || (input.bound && analysisCall?.inputs[input.bound].actual_aggregates.length > 0)">
                      <md-select placeholder="Aggregated measures" [multiple]="input.cardinality==='n'"
                                 [(ngModel)]="analysisCall?.inputs[input.name]">

                        <ng-container *ngIf="!input.bound">
                          <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                     *ngFor="let item of cube?.model?.aggregates|iterable">{{item |
                            nestedProperty:'label'}}
                          </md-option>
                        </ng-container>

                        <ng-container *ngIf="input.bound">
                          <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                     *ngFor="let item of analysisCall?.inputs[input.bound].actual_aggregates">{{item |
                            nestedProperty:'label'}}
                          </md-option>
                        </ng-container>

                      </md-select>
                    </ng-container>

                  </div>


                </div>


                <div *ngIf="input.type==InputTypes.ATTRIBUTE_REF">
                  <div>
                    <div class="mat-caption" *ngIf="input.bound">
                      This analysis input is bound to the <i>{{executionConfiguration.inputs.get(input.bound).title}}</i> input.
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_AGGREGATE_URI && analysisCall?.inputs[input.bound].actual_attributes.length <1">
                        You have to configure this input with one or more drill-down attributes, that will appear here afterwards.
                      </ng-container>
                      <ng-container *ngIf="executionConfiguration.inputs.get(input.bound).type === InputTypes.BABBAGE_FACT_URI && analysisCall?.inputs[input.bound].actual_attributes.length <1">
                        You have to configure this input with one or more fields, that will appear here afterwards.
                      </ng-container>
                    </div>

                    <ng-container *ngIf="!input.bound || (input.bound && analysisCall?.inputs[input.bound].actual_attributes.length > 0)">
                      <md-select placeholder="Attributes" [multiple]="input.cardinality==='n'" #select="mdSelect"
                                 [(ngModel)]="analysisCall?.inputs[input.name]">
                        <ng-container *ngIf="input.bound">
                          <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                     *ngFor="let item of analysisCall?.inputs[input.bound].actual_attributes">
                            <ng-container>{{item.dimension.label}} &rarr; {{item |
                              nestedProperty:'label'}}
                            </ng-container>
                          </md-option>
                        </ng-container>

                        <ng-container *ngIf="!input.bound">
                          <md-optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}">
                            <md-option [value]="item" [attr.data-key]="item |nestedProperty:'ref'"
                                       *ngFor="let item of dim?.significants|iterable">
                              <ng-container *ngIf="select.panelOpen">{{item |
                                nestedProperty:'label'}}
                              </ng-container>
                              <ng-container *ngIf="!select.panelOpen">{{item.dimension.label}} &rarr; {{item |
                                nestedProperty:'label'}}
                              </ng-container>
                            </md-option>
                          </md-optgroup>
                        </ng-container>


                      </md-select>

                    </ng-container>


                  </div>

                </div>
              </md-card-content>


            </md-card>
          </ng-container>

        </div>
      </div>
      <div fxFlex="70%" class="content-card">
        <div>

          <md-card class="error-card" *ngIf="error">
            <md-card-content>
              <md-icon>error</md-icon>
              <div>{{error}}</div>
            </md-card-content>

          </md-card>

          <md-progress-spinner mode="indeterminate" *ngIf="loading$|async"></md-progress-spinner>

          <analytics-timeseries-output *ngIf="algorithm.name=='time_series'"
                                       style="min-height: 500px;" [cube]="cube"
                                       [analysisCall]="analysisCall"
                                       [data]="analysisCall?.outputs['values']">
          </analytics-timeseries-output>
          <analytics-descriptive-output *ngIf="algorithm.name=='descriptive_statistics'"
                                        [data]="analysisCall?.outputs['values']" [cube]="cube"
                                        [analysisCall]="analysisCall"></analytics-descriptive-output>
          <analytics-outliers-output *ngIf="algorithm.name=='outlier_detection'"
                                     [data]="analysisCall?.outputs['values']" [cube]="cube"
                                     [analysisCall]="analysisCall"></analytics-outliers-output>
          <analytics-clustering-output *ngIf="algorithm.name=='clustering'"
                                       [data]="analysisCall?.outputs['values']" [cube]="cube"
                                       [analysisCall]="analysisCall"></analytics-clustering-output>
          <app-analytics-rulemining-output *ngIf="algorithm.name=='rule_mining'"
                                           [data]="analysisCall?.outputs['values']" [cube]="cube"
                                           [analysisCall]="analysisCall"></app-analytics-rulemining-output>
        </div>
      </div>

    </div>


  </md-card-content>


</md-card>
