<div class="col-sm-12" *ngIf="data" #container>



  <h3>Statistical measures</h3>

  <table class="text-center table table-bordered">

    <thead>
    <tr>
      <th></th>
      <th *ngFor="let item of analysisCall.inputs['amount']">{{item.label}}</th>
    </tr>
    </thead>
    <tbody *ngIf="data?.descriptives">

    <tr>
      <td>Minimum observed value</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.Min[item.ref][0]}}</td>
    </tr>

    <tr>
      <td>Maximum observed value</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.Max[item.ref][0]}}</td>
    </tr>

    <tr>
      <td>Range of values</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.Range[item.ref][0]}}</td>
    </tr>
    <tr>
      <td>Mean</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.Mean[item.ref][0]}}</td>
    </tr>
    <tr>
      <td>Quantiles</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">25%: {{data?.descriptives.Quantiles[item.ref][0]}}, 75%: {{data?.descriptives.Quantiles[item.ref][1]}}</td>
    </tr>

    <tr>
      <td>Variance</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.Variance[item.ref][0]}}</td>
    </tr>

    <tr>
      <td>Standard Deviation</td>
      <td *ngFor="let item of analysisCall.inputs['amount']">{{data?.descriptives.StandardDeviation[item.ref][0]}}</td>
    </tr>
    <tr>
      <td>Skewness</td>
      <td>{{data?.descriptives.Skewness[0]}}</td>
    </tr>
    <tr>
      <td>Kurtosis</td>
      <td>{{data?.descriptives.Kurtosis[0]}}</td>
    </tr>

    </tbody>
  </table>


  <div class="col-sm-12">
    <analytics-frequency-chart class="col-sm-12"  style="min-height: 500px;"  [label_y]="Frequency" [label_x]="Dimension" [data]="data.frequencies"></analytics-frequency-chart>
  </div>

  <div class="col-sm-12">
    <analytics-box-plot class="col-sm-12"  style="min-height: 500px;"  [label_y]="Frequency" [label_x]="Dimension" [data]="data.boxplot"></analytics-box-plot>
  </div>
  <div class="col-sm-12">
    <analytics-histogram *ngFor="let item of data.histogram" class="col-sm-12"  style="min-height: 500px;"  [label_y]="Frequency" [label_x]="Dimension" [values]="item"></analytics-histogram>
  </div>


</div>
