<div *ngIf="data&&analysisCall" #container>
  <div fxLayout="row" fxLayoutAlign="start center">
    <md-card fxFlex="100%" class="output-card">
      <md-card-title-group align="center center">

        <md-card-title>Cluster analysis</md-card-title>


      </md-card-title-group>


      <analytics-tree-diagram *ngIf="analysisCall.inputs['cl.meth']=='hierarchical'" [analysisCall]="analysisCall" [values]="data"></analytics-tree-diagram>
      <analytics-medoid-diagram *ngIf="analysisCall.inputs['cl.meth']!='hierarchical'" [values]="data"></analytics-medoid-diagram>



    </md-card>

  </div>



</div>
