<md-card>
  <md-card-title-group>
    <md-card-title>{{ name }}</md-card-title>
  </md-card-title-group>
  <div *ngIf="model">


    <ng-chosen [items]="cube.model.dimensions|mapToIterable" [valueAccessor]="'value'" [labelAccessor]="'label'" [selectedValue]="value"
               (selectedValueChanged)="selectedValueChanged($event)">

    </ng-chosen>
  </div>
  <tree-builder  [cube]="cube">

  </tree-builder>



  <md-card-actions align="end">
    <button md-raised-button color="warn" *ngIf="inCollection" (click)="remove.emit(cube)">
      Remove Cube from Collection
    </button>

    <button md-raised-button color="primary" *ngIf="!inCollection" (click)="add.emit(cube)">
      Add Cube to Collection
    </button>
  </md-card-actions>
</md-card>
