<md-card>
  <md-card-title-group>
    <md-card-title>Cube: {{ name }}</md-card-title>
  </md-card-title-group>

  <md-card-content>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <h4>Available Analytics</h4>
        <ul>
          <li><a href="">Clustering</a></li>
        </ul>
      </div>

      <div class="col-sm-8">
        <md-card >

          <md-card-content>
            <p>
              <md-toolbar color="primary">

                <button md-mini-fab>
                  <md-icon class="md-24">play_circle_outline</md-icon>
                </button>
                <button md-mini-fab>
                  <md-icon class="md-24">edit</md-icon>
                </button>


              </md-toolbar>
            </p>
            <div>
              <img src="http://okfnrg.math.auth.gr/ocpu/tmp/x05d1159afb/graphics/1/svg"  alt="">

            </div>



          </md-card-content>

        </md-card>


      </div>



    </div>
  </md-card-content>



</md-card>
