<md-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">


  <md-list>
    <h3 md-subheader>Aggregates</h3>
    <md-list-item *ngFor="let aggregate of newAggregateRequest.aggregates">
      <div class="row-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button md-mini-fab (click)="removeAggregate(aggregate)">
          <md-icon class="md-24">remove_circle</md-icon>
        </button>
        <span>{{aggregate.column.label}}</span>

      </div>
    </md-list-item>
    <md-divider></md-divider>

  </md-list>


  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">

    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="25px">

      <md-select [(ngModel)]="newAggregateAggregate" placeholder="Aggregate">
        <md-option [value]="item" *ngFor="let item of cube?.model?.aggregates|iterable">{{item |
          nestedProperty:'label'}}
        </md-option>
      </md-select>


    </div>

    <div fxFlexAlign="center">
      <button md-icon-button (click)="addAggregate()" [disabled]="newAggregateAggregate==undefined">
        <md-icon class="md-24">playlist_add</md-icon>
      </button>
    </div>

  </div>


</md-card>

<md-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">


  <md-list>
    <h3 md-subheader>Filters</h3>
    <md-list-item *ngFor="let cut of newAggregateRequest.cuts">
      <div class="row-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button md-mini-fab (click)="removeCut(cut)">
          <md-icon class="md-24">remove_circle</md-icon>
        </button>
        <span>{{cut.column.fullLabel}}: {{cut.value}}</span>

      </div>
    </md-list-item>
    <md-divider></md-divider>

  </md-list>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">

    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="25px">
      <md-select placeholder="Filter attribute" class="form-control" [(ngModel)]="newCutAttribute" #selectCut="mdSelect"
                 (ngModelChange)="selectedCutChanged($event)">

        <md-optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}" >
          <md-option [value]="item" *ngFor="let item of dim?.significants|iterable">
            <ng-container  *ngIf="selectCut.panelOpen">{{item |
            nestedProperty:'label'}}</ng-container>
            <ng-container  *ngIf="!selectCut.panelOpen">{{item.dimension.label}} &rarr; {{item |
              nestedProperty:'label'}}</ng-container>
          </md-option>
        </md-optgroup>


      </md-select>



      <md-input-container *ngIf="newCutAttribute">
              <textarea [mdAutocomplete]="auto" name="newCutValueVal" mdInput (ngModelChange)="selectedCutValChanged($event)"
                        [(ngModel)]="newCutValueVal" placeholder="Filter value"></textarea>
      </md-input-container>


      <md-autocomplete placeholder="Filter attribute" #auto="mdAutocomplete" class="form-control">

        <md-option [value]="member" *ngFor="let member of cutMembers">{{member}}
        </md-option>
      </md-autocomplete>

    </div>
    <div fxFlexAlign="center">
      <button md-icon-button (click)="addCut()" [disabled]="newCutAttribute==undefined">
        <md-icon class="md-24">playlist_add</md-icon>
      </button>

    </div>


  </div>

</md-card>

<md-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">
  <md-list>
    <h3 md-subheader>Drill-down</h3>
    <md-list-item *ngFor="let drilldown of newAggregateRequest.drilldowns">
      <div class="row-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button md-mini-fab (click)="removeDrilldown(drilldown)">
          <md-icon class="md-24">remove_circle</md-icon>
        </button>
        <span>{{drilldown.column.fullLabel}}</span>

      </div>
    </md-list-item>
    <md-divider></md-divider>

  </md-list>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">

    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="25px">
      <md-select placeholder="Drill-down attribute" [(ngModel)]="newDrilldownAttribute" #selectDrilldown="mdSelect">
        <md-optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}">
          <md-option [value]="item" *ngFor="let item of dim?.significants|iterable">
            <ng-container  *ngIf="selectDrilldown.panelOpen">{{item |
              nestedProperty:'label'}}</ng-container>
            <ng-container  *ngIf="!selectDrilldown.panelOpen">{{item.dimension.label}} &rarr; {{item |
              nestedProperty:'label'}}</ng-container>
          </md-option>
        </md-optgroup>
      </md-select>
    </div>

    <div fxFlexAlign="center">
      <button md-icon-button (click)="addDrilldown()" [disabled]="newDrilldownAttribute==undefined">
        <md-icon class="md-24">playlist_add</md-icon>
      </button>

    </div>


  </div>

</md-card>

<md-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">


  <md-list>
    <h3 md-subheader>Sorting</h3>
    <md-list-item *ngFor="let sort of newAggregateRequest.sorts">
      <div class="row-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <button md-mini-fab (click)="removeSort(sort)">
          <md-icon class="md-24">remove_circle</md-icon>
        </button>
        <span>{{sort.column.fullLabel}}: {{sort.direction.label}}  </span>

      </div>
    </md-list-item>
    <md-divider></md-divider>

  </md-list>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="25px">

    <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="25px">
      <md-select placeholder="Sorting attribute" [(ngModel)]="newSortAttribute" #selectSort="mdSelect">
        <md-optgroup *ngFor="let dim of cube?.model?.dimensions|iterable" label="{{dim.label}}">
          <md-option [value]="item" *ngFor="let item of dim?.significants|iterable">
            <ng-container  *ngIf="selectSort.panelOpen">{{item |
              nestedProperty:'label'}}</ng-container>
            <ng-container  *ngIf="!selectSort.panelOpen">{{item.dimension.label}} &rarr; {{item |
              nestedProperty:'label'}}</ng-container>
          </md-option>
        </md-optgroup>
      </md-select>


      <md-select *ngIf="newSortAttribute" placeholder="Sorting direction" [(ngModel)]="newSortDirection">
        <md-option [value]="item" *ngFor="let item of sortDirections|iterable">{{item |
          nestedProperty:'label'}}
        </md-option>
      </md-select>
    </div>


    <div fxFlexAlign="center">
      <button md-icon-button (click)="addSort()"
              [disabled]="newSortAttribute==undefined||newSortDirection==undefined">
        <md-icon class="md-24">playlist_add</md-icon>
      </button>
    </div>

  </div>


</md-card>

<md-card fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">


  <h3 md-subheader>Pagination</h3>

  <md-input-container>
    <input type="number" name="newCutValueVal" title="Page number" mdInput
           (ngModelChange)="aggregatePageNumberChanged($event)"
           [(ngModel)]="newAggregateRequest.page" placeholder="Page number" align="end"/>
  </md-input-container>

  <md-input-container>
    <input type="number" name="newCutValueVal" title="Page size" mdInput
           (ngModelChange)="aggregatePageSizeChanged($event)"
           [(ngModel)]="newAggregateRequest.pageSize" placeholder="Page size" align="end"/>
  </md-input-container>


</md-card>
