<div *ngIf="data&&analysisCall" #container>
  <div fxLayout="row">
    <md-card fxFlex="100%" class="output-card">
      <md-card-title-group align="center center">

        <md-card-title>Rule mining</md-card-title>


      </md-card-title-group>
      <div class="text-center">


        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Rule</th>
          </tr>
          </thead>
          <tbody *ngIf="data?.rules">

          <tr *ngFor="let rule of data.rules">
            <td>{{rule.text}}</td>
          </tr>



          </tbody>
        </table>


      </div>

    </md-card>

  </div>


</div>
